*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
/* ul li{list-style: none;}*/
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

body{
    background-color: #F5F7FA;
    font-family: montserat;
}
h1{
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 45px;
}
h2{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 22px;
}
h3{
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 16px;
}
h4{
    font-weight: 700; 
}
h5{
    font-size: 12px;
    color: #A8A8A8;
}
span{
    color: red;
    font-weight: 700;
}
b{
    color: black;
    font-weight: 700;
}
p{
    font-size: 18px;
    font-style: oblique;
    color: #595959;  
}
ul{
    margin-top: 15px;
    margin-bottom: 10px;   
}
li {
    margin-left: 15px;
    font-style: oblique;
    color: #595959;
}
.block {
    margin: 30px;
}
.resume{
    display: flex;
    margin: 40px;
    background-color: #fff; 
}
.left-column{
    display: block;
    background-color: #1E2939;
    width: 370px;
    color: white;
}
.my-photo{
width: 100%;
margin-top: 40px;
margin-bottom: 40px;
}
.contacts{
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}
.block.contacts, .tech-skills , .soft-skills{
font-size: 22px;
}
.white li{
color: white;
}

.right-column{
    display: block;
    margin: 40px;
    
}
.myProjects{
    margin-left: 15px;
}
.faculty{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
}
.cont{
    font-size: 14px;
}