*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
/* ul li{list-style: none;}*/
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 700;}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body{
    background-color: #F5F7FA;
    font-family: "Montserrat";
}
h1{
    margin: 15px 0px 15px 0px;
    font-size: 45px;
}
h2{
    margin: 10px 0px 10px 0px;
    font-size: 22px;
}
h3{
    margin-bottom: 10px;
    font-size: 16px;
}
h5{
    font-weight: normal;
    font-size: 12px;
    color: #A8A8A8;
}
span{
    color: red;
    font-weight: 700;
}
b{
    color: black; 
}
p{
    font-size: 18px;
    font-style: oblique;
    color: #595959;  
}
ul{
    margin: 15px 0px 10px 0px; 
}
li {
    margin-left: 15px;
    font-style: oblique;
    color: #595959;
}

.resume{
    display: flex;
    margin: 30px;
    background-color: #fff; 
}
.block {
    margin: 30px;
}
.left-column{
    display: block;
    background-color: #1E2939;
    width: 450px;
    color: white;
}
.my-photo{
    width: 100%;
    margin: 40px 0px 40px 0px;
}
.contacts{
    font-weight: 700;
    margin: 10px 0px 30px 0px;
    
}
.text-contacts{
    margin-top: 10px;
    font-size: 18px;
}
.cont-phone, .cont-mail{
    font-size: 14px;
    color: red;
}
.cont-mail:hover{
    font-size: 16px;
    color: #A8A8A8;
}
.cont-phone:hover{
    font-size: 16px;
    color: #A8A8A8;
}
.contacts, .tech-skills , .soft-skills{
    font-size: 22px;
}
.white li{
    color: white;
}
.right-column{
    display: block;
    margin: 40px;  
}
.faculty{
    margin: 10px 0px 10px 0px;
    font-weight: 700;
    font-size: 16px;
}
.projects li:hover{
    font-size: 16px;
    color:brown;
} 
