*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}
b{
    font-weight: 700;
    color: black;
}
span{
    color: #FB6D3A;
}
.resume{
    background-color: #F5F7FA;
    padding: 40px;
    overflow:hidden;  
}
.container{
    max-width: 1200px;
    min-width: 50%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
.flex-body{
    display: flex;
    flex-direction: row-reverse;
    justify-content:left;
    overflow: hidden;
}
/* right-column*/
.right-column{
    width: 830px;
   padding-left: 88px;
   padding-top: 102px;
   padding-bottom: 100px;
}
.header-content{
    width: 100%;
    padding-right: 342px;
    padding-bottom: 40px;
}
.text-header-item{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 19px;
}
h1{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px; 
    margin-bottom: 24px;
}
.text-content{
    color: #595959 ;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.projects{
    padding-bottom: 51px;
}
.projects h2{
    margin-bottom: 8px;
}
h2{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 12px;
}
.projects ol{
    padding-left: 15px;
}
.link-projects{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.experience{
    padding-right: 217px;
    padding-bottom:27px;
}
.experience ul{
    padding-left: 15px;
    color: #595959;
    margin-bottom: 16px;
}
h3{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 11px;
}
h5{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 8px;
}
.university{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 11px;
}
.faculty{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 12px;
}


/* left-column*/
.sidebar{
    width: 370px;
    padding-top: 40px;
    background-color: #1E2939;
    color: white;
    padding-bottom: 100px;
}
.my-photo{
    padding-bottom: 50px;
    width: 100%;
}
.contacts, .tech-skills, .soft-skills{
    margin-left: 40px;
    padding-right: 10px;
}
.title-sidebar{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    padding-bottom: 8px;
}
.text-contacts{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    padding-right: 8px;
    color: white;
}
.cont-phone, .cont-mail{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #A8A8A8;
    opacity: 0.5;
}
.cont-mail{
    text-decoration-line: underline;
}
.cont-mail:hover{
    text-decoration-line: underline;
}
.tech-skills, .soft-skills{
    padding-top: 47px;
}
.skills{
    color: #CACDD0;
    margin-left: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.skills li::marker{
    color: #FB6D3A;
}
.text-soft-skills{
    color: #FFFFFF;
}
/*end left-column*/